

@model BLL.ViewModel.PropertyMasterVM
@{
    ViewBag.Title = "Vengurla Property Survey";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
@*<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>*@
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
@*<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/SurveyDatatable.js"></script>
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>*@
<style>
    a:hover {
        text-decoration: none;
    }

    .material-icons {
        font-size: 18px
    }
</style>
@*Rohit*@


<style>
    #ASF {
        float: right;
        margin-top: 40px;
        margin-right: 10px;
    }

    .pt-50 {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .modal-dialog {
        width: 80%;
        margin: 30px;
    }

    .modal-dialog {
        left: 10%;
    }

    .btn-lg {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
        float: right;
        margin-bottom: 10px;
    }

    .ads {
        float: right;
        margin-bottom: 2%;
    }
</style>


@using (Html.BeginForm("SurveyList", "PTC", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "ValidateUser();", role = "form" }))
{
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-12">
                            <div class="page-header-title">
                                <div class="" style="display:flex;justify-content:space-between">

                                    @*<a href="@Url.Action("GenerateReport","Report" ,new {typeOfReport="PDF"})">Get All Entries Report </a>*@
                                    <h4 sytle="magin-bottom:30px;font-weight:800;">
                                        <a href="@Url.Action("SurveyForm", "PTC")" type="button" class="btn btn-sm btn-primary">Add New Survey Form</a>
                                    </h4>
                                    <img src="~/Content/Images/@ViewBag.Clogo" style="position: absolute;height: 155px;top: -5%;left:42%" />
                                    <span style="border: 1px solid #357ebd; padding: 5px; height: fit-content; margin-top: 10px !important ">Total Proprety Count : @ViewBag.EntryCount</span>
                                </div>

                                @*<button type="button" class="btn btn-default active" onclick="location.href='@Url.Action("SurveyForm", "Report")'">Financial</button>*@


                            </div>
                        </div>

                    </div>
                </div>

                <div id="snackbar">
                    <img src="~/Content/check_circle_white_24dp.svg" />
                    <p style="color:green;font-size:16px">Massage Deliverd !</p>
                    <p style="color:grey;font-size:12px"> Your Massage Was Sent Successfully</p>
                </div>
                <div id="snackbar1">
                    <img src="~/Content/dangerous_white_24dp.svg" />

                    <p style="color:red;font-size:16px">Massage Not Deliverd !</p>
                    <p style="color: #443d3d; font-size: 12px"> Your Massage Was Unable to Send</p>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @*<center><div id="snackbar">Some text some message..</div></center>*@
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-block">
                                    <div style="display:flex;justify-content:space-between">
                                        <span style="font-size:2em;font-weight:600">Property List </span>
                                        @*<h3 style="margin-bottom:35px;margin-top:5px"><a href="@Url.Action("GenerateReport", "Report",new {typeOfReport="PDF"})" type="button" class="btn btn-sm btn-primary float-right" style="margin-left: 10px;">Get All Entries Report</a></h3>*@
                                        <p id="para" style="color: green; margin-left: 49%;">@TempData["Success"]</p>
                                        @* <a id="btnShow" class="btn btn-primary btn-sm" style="margin-bottom: 2%;">Send Message</a>*@
                                        @*<a id="btnSearch" class="btn btn-primary btn-sm" style="margin-bottom: 2%;">Advance Search</a>*@

                                    </div>

                                    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Send Message </h4>

                                                </div>
                                                <div class="modal-body">



                                                    @*@Html.Label("Select Option:-")*@


                                                    <input id="PropertyNumber" class="Score" name="selectoption" type="radio" value="Property Number" /> <b style="margin-right:3%;margin-left:0.5%"> Property Number </b>

                                                    <input id="PrabhagNumber" class="Score" name="selectoption" type="radio" value="Prabhag Number" />  <b style="margin-right: 3%; margin-left: 0.5%"> Prabhag Number  </b>

                                                    <input id="WardNumber" class="Score" name="selectoption" type="radio" value="Ward Number" /> <b style="margin-right: 3%; margin-left: 0.5%">   Ward Number   </b>

                                                    <br />
                                                    @*@Html.Label("Search Text:", new { style = "margin-top:8%;" })*@

                                                    <label class="changeme" style="margin-top:4%">Search No:</label>

                                                    @Html.TextBox("SearchText")<br />
                                                    <span class="text-danger" id="err_PropertyNo"></span>
                                                    @*<input type="text" id="ss" value="SearchText" />*@
                                                    @*<a href="@Url.Action("SurveyList", "PTC",new { id = Request.QueryString["SearchText"] })" type="button" class="btn btn-sm btn-primary">SearchText</a>*@

                                                    @*<input type="submit" value="Send Message" />*@
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" name="Send" value="Send" class="btn btn-primary" onclick="send()">Send Message</button>
                                                    <button type="submit" name="Reminder" value="Reminder" class="btn btn-primary">Send Reminder</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    @*<div class="container">
                                            <!-- Trigger the modal with a button -->
                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Advance Search</button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Advance Search</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-lg-3 form-group">
                                                                        <label>Select Prabhag No.</label>
                                                                        <select id="PrabhagList" class="form-control form-control form-control-sm">
                                                                            <option value="">Select Prabhag No.</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 form-group">
                                                                        <label>Select Ward No.</label>
                                                                        <select id="WardList" class="form-control form-control form-control-sm">
                                                                            <option value="">Select Ward No</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 form-group">
                                                                        <label>Cons.Start Date.</label>
                                                                        <select id="CSDate" class="form-control form-control form-control-sm">
                                                                            <option value="">Select Cons.Start Date.</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 form-group">
                                                                        <label>Cons.End Date.</label>
                                                                        <select id="CEDate" class="form-control form-control form-control-sm">
                                                                            <option value="">Select Cons.End Date.</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-3 form-group">
                                                                        <label>Const. Perm. No.</label>
                                                                        <select id="CPNO" class="form-control form-control form-control-sm">
                                                                            <option value="">Select Const. Perm. No.</option>
                                                                            <option value="Y">YES</option>
                                                                            <option value="N">NO</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 form-group">
                                                                        <label> O. C. No.</label>
                                                                        <select id="OCNO" class="form-control form-control form-control-sm">
                                                                            <option value="">O. C. No</option>
                                                                            <option value="Y">YES</option>
                                                                            <option value="N">NO</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 form-group">
                                                                        <label> मालमत्तेची सद्यस्तिथी</label>
                                                                        <select id="OCNO" class="form-control form-control form-control-sm">
                                                                            <option value="">मालमत्तेची सद्यस्तिथी</option>
                                                                            <option value="">भिंती (सुस्थितीत)</option>
                                                                            <option value="">भिंती (धोकदायक)</option>
                                                                            <option value="">छप्पर (सुस्थितीत)</option>
                                                                            <option value="">छप्पर (धोकदायक)</option>
                                                                            <option value="">काँलम (सुस्थितीत)</option>
                                                                            <option value="">काँलम (धोकदायक)</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <button id="ASF" type="submit" name="" value="" class="btn btn-primary">Filter</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="container">
                                        @*<a href="~/Search/SurveyListSearch"><button type="button" class="btn btn-sm btn-primary ads">Advance Search</button></a>*@
                                    </div>

                                    <div class="dt-responsive table-responsive">

                                        <table id="datatableActive" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Properti Id </th>
                                                    <th>Owner Name</th>
                                                    <th>Owner Mobile No</th>

                                                    <th>New Property No</th>
                                                    <th>Property No</th>
                                                    <th>House No</th>
                                                    <th>View</th>
                                                    <th>Scanned Document</th>
                                                    @*<th>Sent Massage</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                        </table>


                                    </div>


                                    @*<p class="alert alert-failure" id="ErrorMessage">Your message is not successfuly sent!</p>*@

                                    <p id="para" style="color: green; margin-left: 43%;">@TempData["Success"]</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>

    <div class="confirm">
        <div></div>
        <div>
            <div id="confirmMessage">Confirm text</div>
            <div>
                <input id="confirmYes" type="button" value="Yes" class="btn btn-sm btn-primary" />
                <input id="confirmNo" type="button" value="No" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </div>
}
<style>
    #snackbar {
        visibility: hidden;
        min-width: 310px;
        margin-left: -135px;
        /*background-color: #333;*/
        background: #99fba5;
        box-shadow: 0 12px 20px -10px rgba(34,138,133,0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34,138,133,0.2);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        /* padding: 16px;*/
        position: fixed;
        z-index: 1;
        left: 88%;
        bottom: 4%;
        font-size: 16px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #snackbar img {
            border-radius: 50%;
            height: 50px;
            position: absolute;
            top: -10%;
            left: -5%;
        }

        #snackbar p {
            margin: 0px;
        }

    #snackbar1 {
        visibility: hidden;
        min-width: 310px;
        margin-left: -135px;
        /*background-color: #333;*/
        background: #f59999;
        box-shadow: 0 12px 20px -10px rgba(34,138,133,0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34,138,133,0.2);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        /* padding: 16px;*/
        position: fixed;
        z-index: 1;
        left: 88%;
        bottom: 4%;
        font-size: 16px;
    }

        #snackbar1.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #snackbar1 img {
            border-radius: 50%;
            height: 50px;
            position: absolute;
            top: -10%;
            left: -5%;
        }

        #snackbar1 p {
            margin: 0px;
        }

    input[type=button] {
        padding: 3px 8px;
        margin: 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        /* background: #ddd;*/
        border: 1px solid #ccc;
    }

        input[type=button]:hover {
            background: #0873d0;
        }

    .confirm {
        display: none;
    }

        .confirm > div:first-of-type {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0px;
            left: 0px;
        }

        .confirm > div:last-of-type {
            padding: 10px 20px;
            background: white;
            position: absolute;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            border: 1px solid #333;
        }

            .confirm > div:last-of-type div:first-of-type {
                min-width: 150px;
                padding: 10px;
            }

            .confirm > div:last-of-type div:last-of-type {
                text-align: right;
            }

    .title-tip[title]:hover {
        position: relative;
    }

        .title-tip[title]:hover:before {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99999;
            content: attr(title);
            margin-top: 0.5em;
            padding: 2px;
            width: 65px; /* change it */
            overflow: hidden;
            word-wrap: break-word;
            font-size: inherit;
            color: #FFF;
            text-align: center;
            background-color: #222;
            box-sizing: border-box;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .title-tip[title]:hover:after {
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 99999;
            content: '';
            margin-left: -0.125em;
            width: 0;
            height: 0;
            border: 0.25em dashed transparent;
            border-bottom: 0.25em solid #222;
            font-size: inherit;
        }
</style>

<script>
    $('input[type=radio]').change(function (evt) {
        $('.changeme').html($(this).val() + ' :');
    });
</script>
