@model BLL.ViewModel.PropertyMasterVM
@{
    ViewBag.Title = "Vengurla Property Survey";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


@*<script src="~/Content/theme-assets/assets/js/SearchDatatable.js"></script>*@
<script src="~/Content/Script/SearchDatatable.js"></script>
<style>
    a:hover {
        text-decoration: none;
    }

    .material-icons {
        font-size: 18px
    }
</style>
@*Rohit*@


<style>
    #ASF {
        float: right;
        margin-top: 40px;
        margin-right: 10px;
    }

    .pt-50 {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .modal-dialog {
        width: 80%;
        margin: 30px;
    }

    .modal-dialog {
        left: 10%;
    }

    .btn-lg {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
        float: right;
        margin-bottom: 10px;
    }
    #common {
        display:none;
    }
    #const {
        display: none;
    }
    #consstate {
        display: none;
    }
    #ConsPerNo {
        display: none;
    }
    #adfilbtn {
        display:none;
    }
    #byprono {
        display:none;
    }
    #byname {
        display: none;
    }
    #tapshil{
        display:none;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #b5b1b1;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: 0px;
        left: -1px;
        position: relative;
        background-color: #000;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #969b95;
    }
    .sfp {
        padding-top: 5%;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px;
    }
    .sfa2 {
        margin-top: 5px;
        padding-top: 5px;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px;
    }
</style>


@using (Html.BeginForm("SurveyList", "PTC", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "ValidateUser();", role = "form" }))
{
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-12">
                            <div class="page-header-title">
                                <div class="" style="display:flex;justify-content:space-between">

                                    @*<a href="@Url.Action("GenerateReport","Report" ,new {typeOfReport="PDF"})">Get All Entries Report </a>*@
                                    <h4 sytle="magin-bottom:30px;font-weight:800;">
                                      <a href="@Url.Action("SurveyList", "PTC")" type="button" class="btn btn-sm btn-primary">Back</a>
                                    </h4>
                                    @*<img src="~/Content/Images/@ViewBag.Clogo" style="position: absolute;height: 155px;top: -5%;left:42%" />*@
                                    <span style="border: 1px solid #357ebd; padding: 5px; height: fit-content; margin-top: 10px !important ">Total Proprety Count : @ViewBag.EntryCount</span>
                                </div>

                                @*<button type="button" class="btn btn-default active" onclick="location.href='@Url.Action("SurveyForm", "Report")'">Financial</button>*@


                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @*<center><div id="snackbar">Some text some message..</div></center>*@
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-block">
                                    <div style="display:flex;justify-content:space-between">
                                        <span style="font-size:2em;font-weight:600">Property List </span>
                                        <p id="para" style="color: green; margin-left: 49%;">@TempData["Success"]</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row sfp">
                            @*<div class="col-lg-4 form-group">
            <input type="radio" name="tab" value="igotnone" onclick="None();" />
            काहीही नाही / None

        </div>*@
                            <div class="col-lg-4 form-group">
                                <input type="radio" name="tab" value="igotone" onclick="show1();" />
                                बांधकाम वर्ष / Const. Date

                            </div>
                            <div class="col-lg-4 form-group">

                                <input type="radio" name="tab" value="igotsix" onclick="show6();" />
                                बांधकाम परवानगी क्र. / Const. Perm. No.
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="radio" name="tab" value="igottwo" onclick="show2();" />
                                मालमत्तेची सद्यस्तिथी / Current status of the property
                            </div>
                            <div class="col-lg-4 form-group">

                                <input type="radio" name="tab" value="igotsix" onclick="show7();" />
                                कुटुंबातील सदस्ययांचा तपशील
                            </div>
                            

                            <div class="col-lg-4 form-group" style="display:none;">

                                <input type="radio" name="tab" value="igotthree" onclick="show3();" />
                                सर्व फिल्टर / All Filters
                            </div>

                        </div>
                            <div class="row sfa2">
                                <div class="col-sm-12">
                                    <div class="card">

                                        <div class="card-block">
                                           

                                            <div class="container" style="padding-top:8px">

                                                <div class="row" id="tapshil">
                                                    <div class="col-lg-4 form-group">

                                                        <input type="radio" name="tab" value="igotfour" onclick="show4();" />
                                                        मालमत्ता क्र. / By Property No.
                                                    </div>
                                                    <div class="col-lg-4 form-group">

                                                        <input type="radio" name="tab" value="igotfive" onclick="show5();" />
                                                        नाव / By Name.
                                                    </div>
                                                </div>
                                                <form id="Searchform">
                                                    <div class="row" style="padding-right: 8px;">
                                                        <div id="common">
                                                            <div class="col-lg-3 form-group">
                                                                <label>प्रभाग क्र. /</label>
                                                                <label>Select Prabhag No.</label>
                                                                <select id="PrabhagList" class="form-control form-control form-control-sm">
                                                                </select>

                                                            </div>
                                                            <div class="col-lg-3 form-group">
                                                                <label>वार्ड नाव व क्र. /</label>
                                                                <label>Select Ward No.</label>
                                                                <select id="WardList" class="form-control form-control form-control-sm">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="const">
                                                            <div class="col-lg-3 form-group">
                                                                <label>बांधकाम चालू केलेले वर्ष / </label>
                                                                <label>Cons.Start Date.</label>
                                                                <select id="CSDate" class="form-control form-control form-control-sm">
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-3 form-group">
                                                                <label> बांधकाम पूर्णत्वाचे वर्ष /</label>
                                                                <label>Cons.End Date.</label>
                                                                <select id="CEDate" class="form-control form-control form-control-sm">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="consstate" class="col-lg-3 form-group">
                                                            <label> मालमत्तेची सद्यस्तिथी</label>
                                                            <select id="OCNO" class="form-control form-control form-control-sm">
                                                                <option value="">मालमत्तेची सद्यस्तिथी</option>
                                                                <option value="ALL">Select All.</option>
                                                                <option value="Safe">भिंती (सुस्थितीत)</option>
                                                                <option value="Danger">भिंती (धोकदायक)</option>
                                                                <option value="Safe2">छप्पर (सुस्थितीत)</option>
                                                                <option value="Danger2">छप्पर (धोकदायक)</option>
                                                                <option value="Safe3">काँलम (सुस्थितीत)</option>
                                                                <option value="Danger3">काँलम (धोकदायक)</option>
                                                            </select>
                                                        </div>
                                                        <div id="ConsPerNo">
                                                            <div class="col-lg-3 form-group">
                                                                <label>बांधकाम परवानगी क्र. /</label>
                                                                <label>Const. Perm. No.</label>
                                                                <select id="CPNO" class="form-control form-control form-control-sm">
                                                                    <option value="">Select Const. Perm. No.</option>
                                                                    <option value="ALL">Select All.</option>
                                                                    <option value="Y">YES</option>
                                                                    <option value="N">NO</option>
                                                                    <option value="NA">Not Select</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-3 form-group">
                                                                <label>भोगवटा दाखला क्र. /</label>
                                                                <label> O. C. No.</label>
                                                                <select id="OCNO" class="form-control form-control form-control-sm">
                                                                    <option value="">O. C. No</option>
                                                                    <option value="ALL">Select All.</option>
                                                                    <option value="Y">YES</option>
                                                                    <option value="N">NO</option>
                                                                    <option value="NA">Not Select</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="byprono">
                                                            <div class="col-lg-3 form-group">
                                                                <label>मालमत्ता क्र. / </label>
                                                                <label> Property No.</label>

                                                                <input type="text" id="poname" class="form-control form-control form-control-sm" placeholder="Enter Property No" />
                                                            </div>
                                                            <div class="col-lg-3 form-group">
                                                                <label>नाव/</label>
                                                                <label> Name</label>
                                                                <select id="Name" class="form-control form-control form-control-sm">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="byname">
                                                            <div class="col-lg-3 form-group">
                                                                <label>नाव/</label>
                                                                <label> Name</label>
                                                                <input type="text" id="test" class="form-control form-control form-control-sm" placeholder="Enter Name" onInput="edValueKeyPress()" />
                                                                <span id="lblValue"> </span>
                                                            </div>
                                                            <div class="col-lg-3 form-group">
                                                                <label>मालमत्ता क्र. / </label>
                                                                <label> Property No.</label>
                                                                <select id="PRONOBYNAME" class="form-control form-control form-control-sm">
                                                                    <option value="">Select Property No.</option>
                                                                    <option value="ALL">Select All.</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>


                                                    <div id="adfilbtn" class="row">
                                                        <div class="col-sm-2  offset-md-10" style="text-align: right; float: right;">
                                                            <div class="controls">
                                                                <input type="reset" data-background-color="filter-button-box-color" style="margin:8px;" class="btn btn-sm btn-success filter-button-style" type="button" value="Filter Records" id="filter" onclick="Search()" />
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </form>
                                            </div>

                                            @*<div  class="container" style="padding-top:8px">
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <label>Select Prabhag No.</label>
                                                        <select id="PrabhagList" class="form-control form-control form-control-sm">
                                                            <option value="">Select Prabhag No.</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label>Select Ward No.</label>
                                                        <select id="WardList" class="form-control form-control form-control-sm">
                                                            <option value="">Select Ward No</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label> मालमत्तेची सद्यस्तिथी</label>
                                                        <select id="OCNO" class="form-control form-control form-control-sm">
                                                            <option value="">मालमत्तेची सद्यस्तिथी</option>
                                                            <option value="">भिंती (सुस्थितीत)</option>
                                                            <option value="">भिंती (धोकदायक)</option>
                                                            <option value="">छप्पर (सुस्थितीत)</option>
                                                            <option value="">छप्पर (धोकदायक)</option>
                                                            <option value="">काँलम (सुस्थितीत)</option>
                                                            <option value="">काँलम (धोकदायक)</option>
                                                        </select>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2  offset-md-10" style="text-align: right; float: right;">
                                                        <div class="controls">
                                                            <input data-background-color="filter-button-box-color" style="margin-top:8px;" class="btn btn-sm btn-success filter-button-style" type="button" value="Filter Records" id="filter" onclick="Search()" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div  class="container" style="padding-top:8px">
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <label>Select Prabhag No.</label>
                                                        <select id="PrabhagList" class="form-control form-control form-control-sm">
                                                            <option value="">Select Prabhag No.</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label>Select Ward No.</label>
                                                        <select id="WardList" class="form-control form-control form-control-sm">
                                                            <option value="">Select Ward No</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label>Cons.Start Date.</label>
                                                        <select id="CSDate" class="form-control form-control form-control-sm">
                                                            <option value="">Select Cons.Start Date.</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-lg-3 form-group">
                                                        <label>Cons.End Date.</label>
                                                        <select id="CEDate" class="form-control form-control form-control-sm">
                                                            <option value="">Select Cons.End Date.</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <label>Const. Perm. No.</label>
                                                        <select id="CPNO" class="form-control form-control form-control-sm">
                                                            <option value="">Select Const. Perm. No.</option>
                                                            <option value="Y">YES</option>
                                                            <option value="N">NO</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label> O. C. No.</label>
                                                        <select id="OCNO" class="form-control form-control form-control-sm">
                                                            <option value="">O. C. No</option>
                                                            <option value="Y">YES</option>
                                                            <option value="N">NO</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <label> मालमत्तेची सद्यस्तिथी</label>
                                                        <select id="OCNO" class="form-control form-control form-control-sm">
                                                            <option value="">मालमत्तेची सद्यस्तिथी</option>
                                                            <option value="">भिंती (सुस्थितीत)</option>
                                                            <option value="">भिंती (धोकदायक)</option>
                                                            <option value="">छप्पर (सुस्थितीत)</option>
                                                            <option value="">छप्पर (धोकदायक)</option>
                                                            <option value="">काँलम (सुस्थितीत)</option>
                                                            <option value="">काँलम (धोकदायक)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2  offset-md-10" style="text-align: right; float: right;">
                                                        <div class="controls">
                                                            <input data-background-color="filter-button-box-color" style="margin-top:8px;" class="btn btn-sm btn-success filter-button-style" type="button" value="Filter Records" id="filter" onclick="Search()" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>*@

                                            <div class="dt-responsive table-responsive">

                                                <table id="datatableActive" class="table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>

                                                            <th>PrabhagNo </th>
                                                            <th>Ward No </th>
                                                            <th>Cons. Start Date </th>
                                                            <th>Cons. End Date </th>
                                                            <th>Owner Name</th>
                                                            <th>Owner Mobile No</th>
                                                            <th>New Property No</th>
                                                            <th>Property No</th>
                                                            <th>House No</th>
                                                            <th>View</th>
                                                            <th>Scanned Document</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                </table>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
            </div>
        </div>

        <br />

    </div>
</div>
}
<style>
    #snackbar {
        visibility: hidden;
        min-width: 310px;
        margin-left: -135px;
        /*background-color: #333;*/
        background: #99fba5;
        box-shadow: 0 12px 20px -10px rgba(34,138,133,0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34,138,133,0.2);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        /* padding: 16px;*/
        position: fixed;
        z-index: 1;
        left: 88%;
        bottom: 4%;
        font-size: 16px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #snackbar img {
            border-radius: 50%;
            height: 50px;
            position: absolute;
            top: -10%;
            left: -5%;
        }

        #snackbar p {
            margin: 0px;
        }

    #snackbar1 {
        visibility: hidden;
        min-width: 310px;
        margin-left: -135px;
        /*background-color: #333;*/
        background: #f59999;
        box-shadow: 0 12px 20px -10px rgba(34,138,133,0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(34,138,133,0.2);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        /* padding: 16px;*/
        position: fixed;
        z-index: 1;
        left: 88%;
        bottom: 4%;
        font-size: 16px;
    }

        #snackbar1.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #snackbar1 img {
            border-radius: 50%;
            height: 50px;
            position: absolute;
            top: -10%;
            left: -5%;
        }

        #snackbar1 p {
            margin: 0px;
        }


    input[type=button] {
        padding: 3px 8px;
        margin: 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        /* background: #ddd;*/
        border: 1px solid #ccc;
    }

        input[type=button]:hover {
            background: #0873d0;
        }

    .confirm {
        display: none;
    }

        .confirm > div:first-of-type {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0px;
            left: 0px;
        }

        .confirm > div:last-of-type {
            padding: 10px 20px;
            background: white;
            position: absolute;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            border: 1px solid #333;
        }

            .confirm > div:last-of-type div:first-of-type {
                min-width: 150px;
                padding: 10px;
            }

            .confirm > div:last-of-type div:last-of-type {
                text-align: right;
            }

    .title-tip[title]:hover {
        position: relative;
    }

        .title-tip[title]:hover:before {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99999;
            content: attr(title);
            margin-top: 0.5em;
            padding: 2px;
            width: 65px; /* change it */
            overflow: hidden;
            word-wrap: break-word;
            font-size: inherit;
            color: #FFF;
            text-align: center;
            background-color: #222;
            box-sizing: border-box;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .title-tip[title]:hover:after {
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 99999;
            content: '';
            margin-left: -0.125em;
            width: 0;
            height: 0;
            border: 0.25em dashed transparent;
            border-bottom: 0.25em solid #222;
            font-size: inherit;
        }
</style>



<script>
    function edValueKeyPress() {
        var edValue = document.getElementById("test");
        var s = edValue.value;

        //var lblValue = document.getElementById("lblValue");
        //lblValue.innerHTML = s;
    }
</script>
<script>
    $('input[type=radio]').change(function (evt) {
        $('.changeme').html($(this).val() + ' :');
    });
</script>