<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/vengurla_logo_header.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
       

.navbar-inverse .navbar-nav > li > a{
            color:white !important
        }
.navbar-inverse .navbar-brand { color:white !important}
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #024b21; border-color: #024b21;">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Survey Form", "SurveyList", "PTC", new { area = "" }, new { @class = "navbar-brand text-white" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-white">
                   
                    @*<li>@Html.ActionLink("Create Form", "SurveyForm", "PTC")</li>*@

                    <li><h5 style="color:white;text-align:center;margin-top:18px;"> @ViewBag.Appname</h5></li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - Appynitty.Com</p>
        </footer>*@
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
