@model BLL.ViewModel.EmployeeVM
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    @*<meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">*@
    <meta name="author" content="#">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/btnCss/StyleSheet1.css" rel="stylesheet" />
    <style>
        .text-inverse {
            color: #a00155 !important;
        }

        .text-danger {
            font-weight: 600;
        }

        .back {
            width: 50%;
            border-radius: 20px;
            height: 360px;
        }

        .btn:focus {
            outline: none;
            outline-offset: unset;
        }
    </style>
</head>
<body class="fix-menu" style="background: rgb(163,158,233);
/*background: linear-gradient(90deg, rgba(163,158,233,1) 0%, rgba(44,176,226,1) 49%, rgba(81,128,173,1) 100%)*/
background: url(../../Content/BC_Image_new.jpg);background-size:cover;">
    
    <!-- Pre-loader start -->
    @*<div class="theme-loader">
            <div class="ball-scale">
                <div class='contain'>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                </div>
            </div>
        </div>*@
    <!-- Pre-loader end -->
    <section class="login-block" style="background-size:100% 660px">
        <!-- Container-fluid starts -->
        <div class="container" style="margin-top:5%;margin-left:30%">
            <div class="row ">
                <div class="back" style="background:#fff">
                    <!-- Authentication card start -->

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <form class="md-float-material">

                            @*<div class="text-center">
                                    <img src="~/Images/Tax_Collection_Logo.png" alt="logo.png" style="height:125px;width:auto">
                                </div>*@
                            <div class="card">
                                <div class="card-block">

                                    <div class="col-md-12">
                                        <h4 class="text-center mt-5" style="font-weight:600;font-size: 3rem;color:#32aead;padding-top:5%">LOGIN</h4>
                                    </div>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">

                                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-10 input-group" style="padding-left:18%;max-width: 95%;margin-bottom:5%;margin-top:5%">

                                            <div class="form-line">
                                                <i class="material-icons">person</i>



                                                @Html.TextBoxFor(model => model.ADUM_LOGIN_ID, new { @class = "form-control", name = "username", placeholder = "Username", @autofocus = "autofocus", style = "background:white;!important" })

                                                @Html.ValidationMessageFor(model => model.ADUM_LOGIN_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-10 input-group" style="padding-left:18%;max-width: 95%;padding-bottom:5%">

                                            <div class="form-line">
                                                <i class="material-icons">lock</i>
                                                @Html.PasswordFor(model => model.ADUM_PASSWORD, new { @class = "form-control", placeholder = "Password", name = "Password", required = "required" })
                                                @Html.ValidationMessageFor(model => model.ADUM_PASSWORD, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <label style="margin-left:23%">
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse" style="font-weight:600;color:#01a9ac!important">Remember me</span>
                                            @*<span class="text-inverse" style="font-weight:600;">Remember me</span>*@
                                        </label>
                                        @*<div class="button-container-1">
                                                <span class="mas">Sign in</span>
                                                <button id='work' type="submit" name="Hover" class="btn">Sign in</button>
                                            </div>*@
                                        <button type="submit" style="border-radius: 30px; width: 35%; margin-left: 35%; background: #32aead; color: #fff; font-weight: 700; margin-top: 5%" class="btn  btn-sm btn-block waves-effect waves-light text-center">Sign in</button>
                                    </div>
                                </div>

                                @*<div class="button-container-1">
                                        <span class="mas">MASK1</span>
                                        <button id='work' type="button" name="Hover">MASK1</button>
                                    </div>*@


                            </div>
                        </form>
                    }



                </div>


            </div>

        </div>

    </section>

    <script>
        $('button[type="submit"]').click(function () {
            if ($.trim($("#ADUM_LOGIN_ID").val()) == '') {
                $("#err_loginid").html("Login Id is required").delay(2000).show().fadeOut('slow');
                $('#ADUM_LOGIN_ID').focus();
                return false;
            }
            if ($.trim($("#ADUM_PASSWORD").val()) == '') {
                $("#err_pwd").html("Password is required").delay(2000).show().fadeOut('slow');
                $('#ADUM_PASSWORD').focus();
                return false;
            }
        })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>
</html>
